form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.form-nav {
  display: flex;
  gap: 1rem;
}

.form-nav button {
  flex: 1;
}
